@charset "UTF-8";
body {
  background-color: rgb(221, 221, 221);
}
p,
h3 {
  line-height: 1.5;
}
a {
  text-decoration: none;
}
.frame {
  background-color: #fff;
  width: 100%;
  max-width: 1000px;
  padding: 20px;
}
.himg {
  width: 100%;
  max-width: 1000px;
}

.left {
  width: 75%;
}
.right {
  width: 24%;
}
.txt2 {
  background-color: rgb(239, 245, 250);
}
.txt3 {
  text-align: center;
}
.txt4 img,
.himg img {
  max-width: 100%;
}
[class^="txt"] {
  padding: 20px;
}
.book {
  border: 1px solid grey;
  background-color: blue;
  color: #fff;
  font-weight: 900;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
}
div.option {
  position: sticky;
  top: 100px;
  border: 1px solid darkgray;
  background-color: rgb(241, 241, 241);
  box-shadow: 2px 2px rgb(199, 199, 199);
  padding: 20px;
}
@import "./self-know.css";
