@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Lato');

div, ul , li{
    display: block; position: relative;
    margin: 0; padding: 0;
}

span{ font-family: 'Lato', sans-serif; }

.ourter{
	/*border:1px solid pink;*/
  position:absolute;
  margin: auto;
  width: 320px;
  height: 320px;
  top: 0; bottom: 0; left: 0; right: 0;
}

.ourter .box{
	border:1px solid pink;
  margin: 0 auto;
  /*background: #6B6199;*/
  width: 240px; height: 240px;
  border-radius: 100%;
  overflow: visible;
}

.ourter .box-top {
  position: absolute;
  margin: 0 auto;
  width: 130px; height: 50px;
  z-index: 9;
  top: 80px; bottom: 0; left: 0; right:0;
  -webkit-transition: top 0.75s;
}

.ourter .box:hover .box-top {
  top: -25px;
  -webkit-animation: topdisplay 3s;
}

.ourter .box-top ul{
  list-style:none;
  height: 25px;
  width: 100%;
}

.ourter .box-top ul li{
  background: transparent;
  border: 5px solid #2E16A1;
  border-radius: 100%;
  position: absolute;
}

.ourter .box-top ul li.first, li.last{
  left: 20%;
  bottom: -10px;
  height: 15px;
  width: 15px;
}

.ourter .box-top ul li.middle{
  margin: 0 auto;
  left:0; right: 0;
  height: 25px; width: 25px;
}

.ourter .box-top ul li.last{
  left: 60%;
}

.ourter .box-top .lid{
  margin: 0 auto;
  background: #3C81FF;
  width: 100%; height: 25px;
}

.ourter .box-top .lid span{
  position: absolute;
  margin: 0 auto;
  left: 0; right: 0;
  background: #3B1BCC;
  width: 25%; height: 25px;
}

.ourter .box-bottom {
  position: absolute;
  margin: 0 auto;
  width: 130px; height: 320px;
  top: auto; bottom: 0; left: 0; right:0;
}

.ourter .box-bottom .base{
  position: absolute;
  background: #3777EB;
  border-radius: 0 0 5% 5%;
  margin: 0 auto;
  width: 120px; height: 80px;
  bottom: 30px; left: 0; right:0;
  z-index: 4;
}

.ourter .box-bottom .base span{
  position: absolute;
  margin: 0 auto;
  left: 0; right: 0;
  background: #2E16A1;
  width: 25%; height: 100%;
}

.box-bottom .cat{
  position: absolute;
  margin: 0 auto;
  left: 0; right: 0;
  bottom: 50px;
  background: #222;
  width: 50%; height: 30%;
  display:none;
  -webkit-animation: cat 3s;
  z-index: 1;
   -webkit-transition: bottom 1s;
}

.cat:before{
   width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #222;
    top: -15px;
    left: 0;
    position: absolute;
    content: "";
}

.cat:after{
   width: 0;
    height: 0;
    border-right: 0px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid #222;
    top: -15px;
    right: 0;
    position: absolute;
    content: "";
}

.cat .face{
  position: relative;
  height: 40px;
}

.cat .face .eye{
  position: absolute;
  height: 20px; width: 20px;
  background: #FFF;
  border-radius: 100%;
  top: 15px;
}

.cat .face .eye.left{ left: 6px; }
.cat .face .eye.right{  right: 6px; }

.cat .face .nose{
  position: absolute;
  margin: auto;
  left:0; right: 0;
  height: 3px; width: 3px;
  background: #DDD;
  border-radius: 100%;
  bottom: 6px;
}

.cat .face .mouth{
  position: absolute;
  margin: auto;
  left:0; right: 0;
  height: 10px; width: 10px;
  border-bottom: 2px solid #FFF;
  border-radius: 100%;
  bottom: 0px;
}

.cat .body{
  position: relative;
  height: 55px;
  overflow: visible;
}

.cat .body .hand{
	/*border:1px solid yellow;*/
  position: absolute;
  top: 10px;
  height: 15px; width: 15px;
  border-radius: 0 0 45% 45%;
  background: #333;
  z-index: 2;
}

.cat .body .hand.left{ left: 6px;}
.cat .body .hand.right{ right: 6px;}

.cat .body .rotulo{
	border:1px solid red;
  position: absolute;
  margin: 0 auto;
  left: -22px; right: 0;
  bottom: 10px;
  height: 34px; width: 110px;
  background: #EDBA73;
/*   box-shadow: 0 2px 3px rgba(0,0,0,0.25); */
  text-align: center;
}

.cat .body .rotulo span{
  color: #333;
  text-transform: uppercase;
  line-height: 2.5em;
  font-size: 0.85em;
  font-weight: 600;
}

h1 {
  font-family: 'Lato', sans-serif;
  text-align:center;
}

.ourter .box:hover .box-top{
  display:block;
}

.ourter .box:hover .box-bottom .cat{
  display:block;
  bottom: 110px;
  -webkit-transition: bottom 1s;
}

@-webkit-keyframes cat {
  from {bottom: 50px;}
  to {bottom: 110px;}
}

@-webkit-keyframes topdisplay {
  from {top: 40px;}
  to {top: -25px;}
}
