a {
  text-decoration: none;
}
.fc-00838f {
  color: #00838f;
}
p {
  text-overflow: ellipsis;
}
body {
  background-color: #f9f9ec;
}

.ad {
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.location {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 30px;
  width: 99%;
  min-width: 100px;
  height: 40px;
  background-color: #ffde86;
  line-height: 40px;
}
.head {
  text-indent: 2px;
  line-height: 40px;
  border: 1px solid yellow;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.head > h3 {
  text-align: left;
}
div.con {
  margin-left: auto;
  margin-right: auto;
  border: 2px solid brown;
  width: 100px;
  height: 45px;
  text-align: center;
  color: brown;
}
article.help {
  justify-content: center;
  max-width: 1000px;
  width: 100%;
  line-height: 40px;
}

.adress {
  margin: 0;
  /* min-width: 300px; */
}
div.map {
  min-width: 300px;
}
article.help div.map img {
  border: 1px solid black;

  width: 100%;
}
@media screen and (max-width: 300px) {
  div.map,
  .adress,
  .location {
    min-width: 0;
    max-width: 100%;
  }
}
