@charset "UTF-8";
/*flex.css是個小模組，依照XY軸資料分布走向的自定義套件，*/
/*第一、簡單明瞭的命名flex*/
/*第二、flex-flow以XY軸命名，X表示row，Y表示column，r表示reverse。
wrap:三個n→nowrap，w→wrap，r→wrap-reverse*/
.flex {
  display: flex;
}
.inflex {
  display: inline-flex;
}
.flex-n {
  display: flex;
  flex-flow: nowrap;
}
.flex-w {
  display: flex;
  flex-flow: wrap row;
}
.flex-r {
  display: flex;
  flex-flow: wrap-reverse;
}
.y-flex {
  display: flex;
  flex-flow: column;
}
.yr-flex {
  display: flex;
  flex-flow: column-reverse;
}
.y-r-flex {
  display: flex;
  flex-flow: column wrap-reverse;
}
.x-flex {
  display: flex;
  flex-flow: row;
}
.xr-flex {
  display: flex;
  flex-flow: row-reverse;
}
.xr-w-flex {
  display: flex;
  flex-flow: row-reverse wrap;
}
.x-n-flex {
  display: flex;
  flex-flow: row nowrap;
}

.j_c {
  justify-content: center;
}
.j_sa {
  justify-content: space-around;
}
.j_sb {
  justify-content: space-between;
}

.a_c {
  align-items: center;
}
.j_c-a_c {
  justify-content: center;
  align-items: center;
}
