@charset "UTF-8";

.foot {
  padding: 15px;
  width: 100%;
  padding: 0;
  background: linear-gradient(0deg, #f1e7c0, #f4f1e3);
}
.foot .container {
  padding-top: 15px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
.foot .container .item {
  flex-grow: 1;
  margin: 0 20px;
}
.foot .container .item h3 {
  font-size: 20px;
  color: #5e4c06;
  text-shadow: 0 0 2px black;
  font-weight: 50;
  border-bottom: 2px dotted #fff;
  margin-bottom: 0.5em;
  padding-bottom: 0.6em;
}
.foot .container .item .nav {
  display: flex;
  flex-flow: column;
  line-height: 1.6em;
}
.foot .container .item .nav a {
  color: #08395a;
  text-decoration: none;
  padding: 5px;
}
/* input[type="email"]{} */
.foot.copy {
  text-align: center;
  margin: 150px 0 0;
  padding: 10px 0;
  background-color: #fbf1e3;
  color: #08395a;
}

@media screen and (max-width: 575px) {
  /*訂閱電子報會超出，*/
  .foot {
    overflow: hidden; /*訂閱電子報會超出，input輸入框太寬*/
  }
  input {
    max-width: 90vw;
  }
}
