@charset "utf-8";
*{
    margin:0;
    padding:0;
    list-style: none;
}

.fc-00838f{color:#00838F;}

div.img{
    overflow: hidden;
    height: 200px;
    /*border:1px solid blue;*/
}
div.txt{
    padding:10px;
    height:100px;
    /* border:1px solid pink; */

}

div.main{
    /*border:1px solid pink;*/

    width:100%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}
div.card{
    border:1px solid black;
    width:20%;
    margin:20px;
    border-radius: 10px;
    overflow:hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);


}
.img>img{
    max-width: 100%;
}