@charset "UTF-8";
		*{		
			padding: 0;
			margin: 0;	
			box-sizing: border-box;
		}
		.p18{			font-size: 18px;		}
		.p24{			font-size:24px		}
		.p32{			font-size: 32px;		}
		.p36{			font-size:36px;		}
		.p42{			font-size:42px;		}
		.xl100{
			width:100%;
			min-width: 1200px;
		}
		@keyframes ani {
		  0% {		    transform: rotate(-10deg);		  }
		  50%,100% {		    transform: rotate(0deg);		  }
		  75% {		    transform: rotate(10deg);		  }		   
		}
		.main-head{
			display:flex;
			padding-top:10px;
			/* border:1px solid transparent; */
			z-index: 3;
			height:100px;
			position: sticky;	
			top:0px;
			background-color:rgba(254,252,224,0.7);
			font-size:24px;
			align-items: center;
		}
		div.logobox{
			/* position:relative;
			; */
			/* border:1px solid transparent; */
			width:142px;
			margin-right: 0px;
		}	
		li a{
		text-decoration: none;
		color:#000;	
		line-height: 2.1rem;
		}
		ul.navul{	
			/* border:1px solid transparent; */
			display: flex;
			list-style: none;
			/* margin-top:30px; */
			margin-right:auto;
			margin-left: auto;
			width:800px;
			justify-content: center;
			padding-top:10px;
		}
		
		ul.navul li{
			/*border:2px solid red;*/
			list-style: none;
			flex-grow: 1;
			text-align: center;
			font-size:24px;
			display:relative;
		}
		ul.navul li:hover{
			border-bottom: 5px solid #fccb00;
		}
		li>div.pen,li>div.gift{
			position:relative;
		}
		.pen>img.pimg, .gift>img.gimg{
			display: block;
			position:absolute;
			left:0px;
			bottom:0px;
			width:18%;
		}

		.pen:hover img.pimg,.gift:hover img.gimg{
			animation: ani 0.4s infinite alternate;
		}
		ul.span11, ul.span21{
			margin:0 auto;
			/*border:1px solid ;*/
			display: none;
			position:absolute;
			background-color: rgba(50,11,5,0.7) ;
			width:100%;
		}
		ul.span11 li a,ul.span21 li a{
			color:#FFF;
		}
		ul.span11 li:hover, ul.span21 li:hover{
			background-color: rgba(254,255,224,0.7);
		}
		ul.span11 li:hover a, ul.span21 li:hover a{
			color:#00838F;
			font-weight:600;
		}


		.gift:hover ul.span21, .pen:hover ul.span11{
			display:block;
		}
		