@charset "utf-8";
body {
  background-color: #f8f9e4;
}
a {
  text-decoration: none;
}
.ban_title {
  background: url("../img/1912100338301089827981.jpg") center / 100% no-repeat;
  height: 200px;
}
section.sec {
  background-image: url(../img/cardbackground.png);
  background-repeat: repeat-x;
  overflow: hidden;
  margin: 30px auto;
  padding: 20px;
  border: 10px double brown;
  max-width: 700px;
  height: 200px;
  display: block;
  text-align: center;
  position: relative;
  vertical-align: middle;
}
section.sec > img.head2 {
  position: absolute;
  top: -15px;
  left: -24px;
  transform: rotate(-45deg);
  width: 45px;
  height: 35px;
}
/* pen木頭筆 */
.penhand {
  max-width: 890px;
  justify-content: center;
}
.gtxt {
  text-align: center;
}
.pentxt {
  padding: 60px;
  background-color: #fef4e8;
  max-width: 249px;
}
.pendiv {
  padding: 50px 0px;
  background-color: #ba7148;
}

.pendiv img {
  position: relative;
  left: 50px;
}
.pen_a {
  padding: 10px;
  display: inline-block;
  color: #000;
  border: 2px solid rgb(64, 82, 64);
  border-radius: 9px;
}
.pen_a:hover {
  color: #fef4e8;
  background-color: #ba7148;
}
/* pen */
.ink_2 {
  background: url("../img/dc2a09e8-3fa9-4b3b-a3e4-aae4ec116cac.jpg") center 50%;
  background-attachment: fixed;
  height: 200px;
}
.banner1 {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100vh;
  background-color: #ccc;
  background: linear-gradient(-75deg, #7bf 30%, transparent 31%) center
      center/100% 100%,
    url("../img/no02_th.jpg") center center/auto 100% no-repeat;
}
.banner1 .container {
  /*border:1px solid pink;*/
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1440px;
  min-width: 900px;
  margin: auto;
}
.banner1 .container .banner_text {
  position: absolute;
  right: 3px;
  /*border:1px solid pink;*/
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 30px;
  margin-right: 15px;
  /* padding-bottom:30px;*/
}
.banner1 .container .banner_text h1,
.banner .container .banner_text .h1_p {
  font-weight: bold;
}
.banner1 .container .banner_text h1 {
  font-size: 30px;
}
.banner1 .container .banner_text .h1_p {
  border-bottom: 1px solid #333;
  font-size: 20px;
}
.banner1 .container .banner_text h2 {
  font-size: 25px;
}
.banner1 .container .banner_text p {
  font-size: 15px;
  width: 200px;
}
/* div.momo{
  border:3px solid brown;
  padding:100px;
  width:200px;

  background-color:#fbf1e3; 
  border-radius: 15px;
}

div.momo ul li{
  display:flex;
      justify-content: center;
}
div.momo ul li a{

  font-size:32px;
  text-decoration: none;
 color:#000;
 padding:0;
 text-align: center;

} */
.banner2 {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100vh;
  background-color: #ccc;
  background: linear-gradient(115deg, #ccf1d3 30%, transparent 31%) center
      center/100% 100%,
    url("../img/4808006851.jpg") center center/auto 100% no-repeat;
}
.banner2 .container {
  /*border:1px solid pink;*/
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1440px;
  min-width: 900px;
  margin: auto;
}
.banner2 .container .banner_text {
  /*	position: absolute;
	right:3px;*/
  /*border:1px solid pink;*/
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 30px;
  margin-left: 10spx;
}
.banner2 .container .banner_text h1,
.banner .container .banner_text .h1_p {
  font-weight: bold;
}
.banner2 .container .banner_text h1 {
  font-size: 30px;
}
.banner2 .container .banner_text .h1_p {
  border-bottom: 1px solid #333;
  font-size: 20px;
}
.banner2 .container .banner_text h2 {
  font-size: 25px;
}
.banner2 .container .banner_text p {
  font-size: 15px;
  width: 200px;
}
/* div.momo{
  border:3px solid brown;
  padding:0;
  width:200px;
  background-color:#fbf1e3; 
}

div.momo ul li a{
  font-size:32px;
  text-decoration: none;
 color:#000;
 padding:0;
 text-align: center;

} */
.banner3 {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100vh;
  background-color: #ccc;
  background: linear-gradient(-75deg, #eeccf1 30%, transparent 31%) center
      center/100% 100%,
    url("../img/no01_th.jpg") center center/auto 100% no-repeat;
}
.banner3 .container {
  /*border:1px solid pink;*/
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1440px;
  min-width: 900px;
  margin: auto;
}
.banner3 .container .banner_text {
  position: absolute;
  right: 3px;
  /*border:1px solid pink;*/
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 30px;
  margin-right: 15px;
  /* padding-bottom:30px;*/
}
.banner3 .container .banner_text h1,
.banner .container .banner_text .h1_p {
  font-weight: bold;
}
.banner3 .container .banner_text h1 {
  font-size: 30px;
}
.banner3 .container .banner_text .h1_p {
  border-bottom: 1px solid #333;
  font-size: 20px;
}
.banner3 .container .banner_text h2 {
  font-size: 25px;
}
.banner3 .container .banner_text p {
  font-size: 15px;
  width: 200px;
}
div.momo {
  border: 3px solid brown;
  padding: 0;
  width: 200px;
  line-height: 1rem;
  background-color: #fbf1e3;
}

div.momo ul li a {
  font-size: 32px;
  text-decoration: none;
  color: #000;
  padding: 0;
  text-align: center;
}
@media screen and (max-width: 960px) {
  .pentxt {
    max-width: 653px;
    left: 0px;
  }
  .pendiv img {
    position: relative;
    left: initial;
  }
  .pendiv {
    padding: 15px;
  }
  .pentxt {
    padding: 25px;
  }
}
.h2bd {
  position: absolute;
  right: -10px;
  display: block;
  width: 2px;
  height: 100%;
  top: 30px;
  background: #000;
}
.h2bd::before,
.h2bd::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #000;
  left: -5px;
}
.h2bd::before {
  top: 0;
}
.h2bd::after {
  bottom: 0;
}
