@charset "UTF-8";
/*----------------------------------------

	- cmn_title
	- list
	- recipe

-----------------------------------------*/

/*----------------------------------------
	cmn_title
-----------------------------------------*/

#cmn_title .cmn_h1 {
	background-image: url(../img/teaching_title_bg.jpg);
}

@media screen and (max-width: 640px) {/*SP*/

#cmn_title .cmn_h1 {
	background-image: url(../img/teaching_title_bg@sp.jpg);
}

}


/*----------------------------------------
	list
-----------------------------------------*/

/* tit */
#list .tit {
	position: relative;
	margin-top: 60px;
	padding: 55px 0;
	color: #954d29;
	text-align: center;
	box-shadow: 0 0 0 3px #954d29 inset, 0 0 0 8px #f9f5e8 inset, 0 0 0 9px #954d29 inset;
}
#list .tit:before,
#list .tit:after,
#list .tit h2:before,
#list .tit h2:after {
	content: "";
	display: block;
	position: absolute;
	width: 9px;
	height: 9px;
	background-color: #954d29;
}
#list .tit:before { top: 0; left: 0; }
#list .tit:after { top: 0; right: 0; }
#list .tit h2:before { bottom: 0; left: 0; }
#list .tit h2:after { bottom: 0; right: 0; }

/* main */
#list .main .cmn_h3 em {
	padding-left: 12px;
	color: #4496ae;
}

@media screen and (min-width: 641px) {/*PC*/

#list .main dt img { width: 462px; height: auto; }

#list {
	width: 980px;
	margin: 0 auto;
	padding-bottom: 30px;
}

/* tit */
#list .tit h2 {
	font-size: 22px;
	font-weight: bold;
}

#list .tit p {
	margin-top: 18px;
	font-size: 16px;
	line-height: 1.7;
}

/* main */
#list .main .cmn_h3 {
	margin-bottom: 40px;
}

#list .main li + li .cmn_h3 {
	margin-top: 90px;
}

#list .main dt {
	float: left;
	border: solid 4px #fff;
}

#list .main dd {
	float: right;
	width: 480px;
}

#list .main dd p {
	margin: 40px 0;
}

#list .main dd li + li {
	margin-top: 26px;
}

}

@media screen and (max-width: 640px) {/*SP*/

#list .main dt img { width: 100%; height: auto; }

#list {
	margin: 0 20px;
}

/* tit */
#list .tit {
	margin-top: 25px;
	padding: 22px 20px 20px 20px;
	box-shadow: 0 0 0 2px #954d29 inset, 0 0 0 5px #f9f5e8 inset, 0 0 0 6px #954d29 inset;
}
#list .tit:before,
#list .tit:after,
#list .tit h2:before,
#list .tit h2:after {
	width: 6px;
	height: 6px;
}

#list .tit h2 {
	font-size: 14px;
	font-weight: bold;
}

#list .tit p {
	margin-top: 10px;
	line-height: 1.5;
	text-align: left;
}

#list .tit p br {
	display: none;
}

/* main */
#list .main li + li .cmn_h3 {
	margin-top: 45px;
}

#list .main .cmn_h3 em {
	padding-left: 6px;
}

#list .main dt {
	margin: 18px 0 12px 0;
	border: solid 4px #fff;
}

#list .main dd ul {
	margin-top: 25px;
	text-align: center;
}

#list .main dd li + li {
	margin-top: 10px;
}

}


/*----------------------------------------
	recipe
-----------------------------------------*/

/* main */
#recipe .main {
	position: relative;
	padding-top: 10px;
	text-align: center;
}

#recipe #box01.main {
	margin-bottom: 140px;
}

#recipe .main:before {
	content: "";
	display: block;
	position: absolute;
	top: -50px;
	left: 0;
	right: 0;
	height: 18px;
	background: url(../img/cmn_bgline_ya.gif) no-repeat center 0, url(../img/cmn_bgline.gif) repeat-x 0 0;
}

#recipe .main h2 {
	display: inline-block;
	position: relative;
	width: 322px;
	height: 45px;
	color: #954d29;
	font-weight: bold;
	font-size: 22px;
	line-height: 45px;
	border: solid 1px #954d29;
}

#recipe .main h2:before,
#recipe .main h2:after {
	content: "";
	display: block;
	position: absolute;
	top: -1px;
	left: 11px;
	right: 11px;
	height: 3px;
	background-color: #f9f5e8;
}

#recipe .main h2:after {
	top: auto;
	bottom: -1px;
}

@media screen and (min-width: 641px) {/*PC*/

#recipe .sub.buy li img { width: 172px; height: 172px; }
#recipe .sub dt img { width: 462px; height: auto; }

#recipe .cmn_h2 {
	margin-bottom: 117px;
}

/* sub */
#recipe .sub {
	width: 980px;
	margin: 0 auto;
	text-align: left;
}

#recipe .sub .cmn_h3 {
	margin-top: 40px;
}

#recipe .sub + .sub .cmn_h3 {
	margin-top: 90px;
}

#recipe .sub .pic img {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-ms-box-sizing: content-box;
	box-sizing: content-box;
	border: solid 4px #fff;
}

#recipe .sub p.pic {
	margin-top: 35px;
	text-align: center;
}

#recipe .sub p.ex {
	margin-top: 35px;
	font-size: 12px;
	text-indent: -1em;
	margin-left: 1em;
}

#recipe .sub dl {
	margin-top: 40px;
}

#recipe .sub .cmn_h3 + dl {
	margin-top: 35px;
}

#recipe .sub dt {
	float: left;
}

#recipe .sub dd {
	float: right;
	width: 485px;
	padding-top: 45px;
}

#recipe .sub dd h4 {
	margin-bottom: 15px;
}

#recipe .sub dd p + p {
	margin-top: 15px;
}

#recipe .sub dl.point {
	padding: 20px;
	background-color: #f5e2c3;
}

#recipe .sub dl.point dd {
	width: 445px;
	padding-top: 50px;
}

/* buy */
#recipe .sub.buy h3 + p {
	color: #954d29;
	font-weight: bold;
	font-size: 16px;
}

#recipe .sub.buy h3 + p + p {
	margin-top: 6px;
	color: #954d29;
	font-size: 14px;
}

#recipe .sub.buy h3 + p em {
	font-weight: bold;
	text-decoration: underline;
}

#recipe .sub.buy h4 {
	margin: 60px 0 -30px 0;
	color: #954d29;
	font-size: 18px;
}

#recipe .sub.buy li {
	float: left;
	width: 172px;
	margin: 30px 0 0 30px;
}

#recipe .sub.buy li:nth-child(5n+1) {
	clear: both;
	margin-left: 0;
}

#recipe .sub.buy li a {
	display: inline-block;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	backface-visibility: hidden;
	transition: color .3s;
	position: relative;
	display: block;
	color: #380902;
}

#recipe .sub.buy li a:hover {
	color: #4496ae;
}

#recipe .sub.buy li a p:first-child:after {
	display: inline-block;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	backface-visibility: hidden;
	transition: background .3s;
	content: "";
	display: block;
	position: absolute;
	z-index: 5;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	width: 172px;
	height: 172px;
	background: rgba(255,255,255,0);
}

#recipe .sub.buy li a:hover p:first-child:after {
	background: rgba(255,255,255,0.35);
}

#recipe .sub.buy li a p + p {
	margin-top: 10px;
}

/* cmn_btn */
#recipe .cmn_btn {
	margin-top: 70px;
	text-align: center;
}

}

@media screen and (max-width: 640px) {/*SP*/

#recipe .sub.buy li img { width: 100%; height: auto; }
#recipe .sub .pic img { width: 100%; height: auto; }

#recipe {
	margin: 0 20px;
}

#recipe .cmn_h2 {
	margin-bottom: 60px;
}

/* main */
#recipe .main {
	padding-top: 0;
}

#recipe #box01.main {
	margin-bottom: 90px;
}

#recipe .main:before {
	top: -30px;
	left: -20px;
	right: -20px;
	height: 9px;
	background-size: auto 9px;
}

#recipe .main h2 {
	width: 161px;
	height: 23px;
	font-size: 13px;
	line-height: 23px;
}

#recipe .main h2:before,
#recipe .main h2:after {
	left: 5px;
	right: 5px;
	height: 3px;
	background-color: #f9f5e8;
}

/* sub */
#recipe .sub {
	text-align: left;
}

#recipe .sub .cmn_h3 {
	margin-top: 20px;
}

#recipe .sub + .sub .cmn_h3 {
	margin-top: 45px;
}

#recipe .sub .pic {
	border: solid 4px #fff;
}

#recipe .sub p.pic + p,
#recipe .sub dd {
	margin-top: 12px;
}

#recipe .sub p + p {
	margin-top: 18px;
}

#recipe .sub p.ex {
	font-size: 10px;
	text-indent: -1em;
	margin-left: 1em;
}

#recipe .sub dl {
	margin-top: 18px;
}

#recipe .sub dl.point {
	margin-top: 25px;
}

#recipe .sub dl.point + dl.point {
	margin-top: 15px;
}

#recipe .sub dd p + p {
	margin-top: 12px;
}

#recipe .sub dl.point {
	padding: 10px;
	background-color: #f5e2c3;
}

#recipe .sub dl.point dd {
	margin-top: 10px;
}

#recipe .sub dl.point dd h4 {
	margin-bottom: 6px;
}

#recipe .sub dl.point dd p {
	font-size: 10px;
}

/* buy */
#recipe .sub.buy h3 + p {
	color: #954d29;
	font-weight: bold;
	font-size: 13px;
}

#recipe .sub.buy h3 + p + p {
	margin-top: 6px;
	color: #954d29;
}

#recipe .sub.buy h3 + p em {
	font-weight: bold;
	text-decoration: underline;
}

#recipe .sub.buy h4 {
	margin: 30px 0 -24px 0;
	color: #954d29;
}

#recipe .sub.buy h4 + p {
	padding-top: 15px;
}

#recipe .sub.buy li {
	width: 46%;
	clear: both;
	float: left;
	margin-top: 18px;
}

#recipe .sub.buy li:nth-child(even) {
	clear: none;
	float: right;
}

#recipe .sub.buy li a {
	display: block;
	color: #380902;
}

#recipe .sub.buy li a p + p {
	margin-top: 8px;
}

/* cmn_btn */
#recipe .cmn_btn {
	margin-top: 60px;
	text-align: center;
}

}
